@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
  h1 {
    @apply text-8xl font-black;
  }
  h3 {
    @apply text-4xl font-black;
  }
}

@layer components {
  .bg-image {
    background:
      linear-gradient(180deg, #000 0%, rgba(255, 255, 255, 0) 100%),
      url('../assets/main.png') center/cover;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }
}

html,
:root,
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
